baseURL = 'https://www.arhohuttunen.com/'
languageCode = 'en-us'
title = 'Code With Arho'
theme = 'codewitharho'
enableEmoji = true

[markup.highlight]
    style = "monokailight"

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'

[permalinks]
  posts = "/:slugorfilename"