{{ $icons := dict
"note" "pencil"
"abstract"  "clipboard-list"
"summary" "clipboard-list"
"tldr" "clipboard-list"
"info" "info"
"todo" "circle-check"
"tip" "flame"
"hint" "flame"
"important" "flame"
"success" "check"
"check" "check"
"done" "check"
"question" "circle-question-mark"
"help" "circle-question-mark"
"faq" "circle-question-mark"
"warning" "triangle-alert"
"caution" "triangle-alert"
"attention" "triangle-alert"
"failure" "x"
"fail" "x"
"missing" "x"
"danger" "zap"
"error" "zap"
"bug" "bug"
"example" "list"
"quote" "quote"
"cite" "quote"
}}

{{ if eq .Type "alert" }}
<div class="callout rounded-lg p-5" data-callout="{{ .AlertType }}">
    <p class="callout-heading flex items-center gap-2">
        {{ partial "icon.html" (dict "name" (index $icons .AlertType) "class" "w-[1em] h-[1em] shrink-0") }}
        {{ with .AlertTitle }}
        {{ . }}
        {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
        {{ end }}
    </p>
    {{ .Text }}
</div>
{{ else }}
<blockquote>
    {{ .Text }}
</blockquote>
{{ end }}
