@import "tailwindcss";
@source "hugo_stats.json";

@layer base {
  h1 {
    @apply text-4xl font-bold leading-tight;
  }

  h2 {
    @apply text-3xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug;
  }

  a {
    @apply text-blue-400 underline;
  }

  a:hover {
    @apply text-blue-500;
  }
}

body {
  font-family: Nunito, sans-serif;
  margin: auto;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

img {
  max-width: 768px;
}

:not(pre) > code {
  @apply bg-gray-100 rounded-sm pl-1.5 pr-1.5 pt-0.5 pb-0.5;
}

.highlight pre {
  @apply p-4 rounded-md;
}

.callout[data-callout="note"] {
  @apply bg-blue-50 border border-blue-100;
  .callout-heading {
    @apply text-blue-500;
  }
}

.callout[data-callout="abstract"],
.callout[data-callout="summary"],
.callout[data-callout="tldr"] {
  @apply bg-teal-50 border border-teal-100;
  .callout-heading {
    @apply text-teal-500;
  }
}

.callout[data-callout="info"] {
  @apply bg-blue-50 border border-blue-100;
  .callout-heading {
    @apply text-blue-500;
  }
}

.callout[data-callout="todo"] {
  @apply bg-blue-50 border border-blue-100;
  .callout-heading {
    @apply text-blue-500;
  }
}

.callout[data-callout="tip"],
.callout[data-callout="hint"],
.callout[data-callout="important"] {
  @apply bg-teal-50 border border-teal-100;
  .callout-heading {
    @apply text-teal-500;
  }
}

.callout[data-callout="success"],
.callout[data-callout="check"],
.callout[data-callout="done"] {
  @apply bg-green-50 border border-green-100;
  .callout-heading {
    @apply text-green-500;
  }
}

.callout[data-callout="question"],
.callout[data-callout="help"],
.callout[data-callout="faq"] {
  @apply bg-orange-50 border border-orange-100;
  .callout-heading {
    @apply text-orange-500;
  }
}

.callout[data-callout="warning"],
.callout[data-callout="caution"],
.callout[data-callout="attention"] {
  @apply bg-orange-50 border border-orange-100;
  .callout-heading {
    @apply text-orange-500;
  }
}

.callout[data-callout="failure"],
.callout[data-callout="fail"],
.callout[data-callout="missing"] {
  @apply bg-red-50 border border-red-100;
  .callout-heading {
    @apply text-red-500;
  }
}

.callout[data-callout="danger"],
.callout[data-callout="error"] {
  @apply bg-red-50 border border-red-100;
  .callout-heading {
    @apply text-red-500;
  }
}

.callout[data-callout="bug"] {
  @apply bg-red-50 border border-red-100;
  .callout-heading {
    @apply text-red-500;
  }
}

.callout[data-callout="example"] {
  @apply bg-purple-50 border border-purple-100;
  .callout-heading {
    @apply text-purple-500;
  }
}

.callout[data-callout="quote"],
.callout[data-callout="cite"] {
  @apply bg-gray-50 border border-gray-100;
  .callout-heading {
    @apply text-gray-500;
  }
}
