<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partial "head/meta.html" . }}
<script>
    (function() {
        const stored = localStorage.getItem("theme");
        if (
            stored === "dark" ||
            (!stored && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            document.documentElement.classList.add("dark");
        }
    })();
</script>
<link rel="preload" href="/fonts/nunito-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/nunito-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/roboto-mono-latin.woff2" as="font" type="font/woff2" crossorigin>
{{ with (templates.Defer (dict "key" "global")) }}{{ partialCached "head/css.html" . }}{{ end }}
{{ partialCached "head/js.html" . }}
{{- $js := resources.Get "js/giscus.js" }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{- $light := resources.Get "css/syntax-light.css" | resources.Minify }}
{{- $dark := resources.Get "css/syntax-dark.css" | resources.Minify }}

<style>
    html:not(.dark) {
        {{ $light.Content | safeCSS }}
    }

    html.dark {
        {{ $dark.Content | safeCSS }}
    }
</style>
