<div class="text-sm text-gray-500 dark:text-gray-400 flex items-center space-x-3">

  {{ $dateMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Lastmod | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">Last updated on {{ $dateHuman }}</time>

  {{ if .Params.categories }}
    <span class="middot text-gray-500"></span>

    <span class="inline-flex items-center gap-1">
      {{ partial "icon.html" (dict "name" "folder" "class" "w-4 h-4") }}
      {{ with .GetTerms "categories" }}
        {{ range $index, $cat := . }}
          {{- if $index }}, {{ end -}}
          <a href="{{ $cat.RelPermalink }}" class="no-underline hover:underline text-gray-500 dark:text-gray-400">
            {{- $cat.LinkTitle -}}
          </a>
        {{- end }}
      {{ end }}
    </span>
  {{ end }}
</div>
