<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="font-sans bg-white dark:bg-slate-900 transition-colors max-w-180 mx-auto px-4 sm:px-6"{{ if or (not (eq .Kind "page")) (eq .Layout "archive") }} data-pagefind-ignore="all"{{ end }}>
  <header data-pagefind-ignore>
    {{ partial "header.html" . }}
  </header>
  <main class="prose dark:prose-invert max-w-none pt-20" data-pagefind-body>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="mt-8 py-4">
    {{ partial "footer.html" . }}
  </footer>
  <div id="search-modal" class="hidden fixed inset-0 z-200 flex items-start justify-center sm:pt-20 sm:px-4">
    <div id="search-backdrop" class="absolute inset-0 bg-black/50"></div>
    <div class="relative w-full bg-white dark:bg-gray-900 shadow-xl p-4 sm:p-6 overflow-y-auto h-full sm:h-auto sm:max-w-2xl sm:rounded-lg sm:max-h-[80vh]">
      <div id="pagefind-search"></div>
    </div>
  </div>
</body>
</html>
