<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white dark:bg-slate-900 transition-colors max-w-180 mx-auto px-4 sm:px-6">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="prose dark:prose-invert max-w-none pt-14">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="mt-8 py-4">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
