{{ define "main" }}
  {{ .Content }}
  {{ range site.RegularPages }}
    <section>
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <p>{{ .Summary }}</p>
      <div class="text-sm text-gray-500 flex items-center space-x-3">

        <span>Last updated on {{ .Lastmod.Format "Jan 2, 2006" }}</span>

        {{ if .Params.categories }}
          <span class="middot text-gray-500"></span>

          <span>
          <i class="fas fa-folder"></i>
            {{ with .GetTerms "categories" }}
              {{ range $index, $cat := . }}
                {{ if $index }}, {{ end }}
                <a href="{{ $cat.RelPermalink }}" class="no-underline hover:underline text-gray-500">
                  {{ $cat.LinkTitle }}
                </a>
              {{ end }}
            {{ end }}
          </span>
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
