{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}
    <p class="mt-2 text-xl text-gray-500 dark:text-gray-400">
      {{ . }}
    </p>
    {{ end }}
  </header>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  <div class="giscus"></div>
  <hr />
  {{ partial "giscus/script-with-options" .Site.Params.giscus }}
{{ end }}
