{{/* Graph Shortcode */}}
{{/* Load image from page dir falling back to media library at `assets/media/` and then to remote URI. */}}
{{/* Note: Uses `{{-` to unindent HTML so that Figure shortcode can be nested within a `{{%` Markdown shortcode,
such as Callout, without the HTML being rendered as a Markdown code block. */}}

{{ $destination := .Get "src" }}
{{ $caption := .Get "caption" | default (.Get "title") | default "" }}{{/* Support legacy `title` option. */}}
{{ $id := anchorize (.Get "id" | default ($caption | plainify)) }}
{{ $img_class := "" }}

{{- $img := (.Page.Resources.ByType "image").GetMatch $destination -}}

<figure {{ with .Get "class" }}class="{{.}}"{{ end }} {{ with $id }}id="figure-{{ . }}"{{ end }}>
<div class="figure-img-wrap" {{ with .Get "max_width" }}style="max-width: {{.}}"{{end}}>
<object type="image/svg+xml"
        data="{{ $img.RelPermalink }}"
        width="100%"></object>
</div>

{{- if $caption -}}
{{/* Localize the figure numbering (if enabled). */}}
{{- $figure := split (i18n "figure" | default "Figure %d:") "%d" -}}
<figcaption{{ if eq (.Get "numbered") "true" }} data-pre="{{- trim (index $figure 0) " " -}}&nbsp;" data-post="{{ index $figure 1 }}&nbsp;" class="numbered"{{ end }}>
{{ $caption | markdownify | emojify }}
</figcaption>
{{- end -}}
</figure>