{{- $options := . }}
{{/* Merge the default options. */}}
{{- if and $options (ne $options site.Params.giscus) }}
  {{- $options = merge site.Params.giscus $options }}
{{- end }}
{{- with $options }}
  {{- $repo := .repo }}
  {{- $repoId := default .repo_id .repoId }}
  {{- $category := .category }}
  {{- $categoryId := default .category_id .categoryId }}
  {{- if or (not $repo) (not $category) (not $categoryId) }}
    {{- errorf "[giscus] both of repo, category and category_id are required." }}
  {{- end }}
  <script
    src="https://giscus.app/client.js"
    data-repo="{{ $repo }}"
    data-repo-id="{{ $repoId }}"
    data-category="{{ $category }}"
    data-category-id="{{ $categoryId }}"
    data-mapping="{{ .mapping }}"
    data-reactions-enabled="{{ cond .reactions "1" "0" }}"
    data-input-position="{{ default .input_position .inputPosition }}"
    data-theme="{{ .theme }}"
    data-lang="en"
    {{ if default .lazy_loading .lazyLoading }}data-loading="lazy"{{ end }}
    {{ if default .strict_matching .strictMatching }}data-strict="1"{{ end }}
    crossorigin="anonymous"
    onload="document.body.dispatchEvent(new Event('giscus-load'))"
    async
  ></script>
{{- end -}}
